<header>
    {{ include('top-navbar.html.twig', top_navbar) }}
    {{ include('main-navbar.html.twig', main_navbar) }}

    {% if page.tier == 1 %}
        <div class="hero-feature w-100" style="background-image:url('{{  image  }}');">
            <aside class="info-box bg-secondary shadow p-4 d-none d-lg-block editable">
                <partial name="News">
                    <arg name="limit" type="int">1</arg>
                    <arg name="format">
                        <span class="text-white text-decoration-none fs-4">
                            {{ story.title }}
                        </span>
                    </arg>
                </partial>
            </aside>
        </div>
    {% elseif page.tier == 2 %}
        <div class="hero-feature w-100 bg-dark mb-5">
            <div class="container-fluid pt-5 pb-5" style="background-size: cover; background-image:url('{{  page.image  }}');">
                <div class="container">
                    <div class="row">
                        <div class="narrow-col mt-5 mt-md-0 order-md-1 col-md-4 col-lg-3 bg-secondary p-0">
                        <div class="bg-dark bg-opacity-25 pt-3 pb-3">
                            <h1 class="display-6 side-nav-title text-center">
                                <a class="text-white fw-bold" href="#">{{ page.title }}</a>
                            </h1>
                        </div>
                            <div class="pt-0">
                                <ul class="nav flex-column">
                                    {% for item in menu %}
                                    <li class="nav-item">
                                        <a class="nav-link text-center border-bottom text-white" href="{{ item.url }}">{{ item.title|e }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {{ include('breadcrumbs.html.twig', breadcrumbs) }}
    {% endif %}
</header>
