<!-- page -->
<head>

    <title>{{ title | e }}</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

{% for name, content in meta %}
    <meta name="{{ name | e }}" content="{{ content | e }}"/>
{% endfor %}

    <link rel="shortcut icon" type="image/jpg" href="/assets/favicon.ico"/>
{% for stylesheet in stylesheets %}
    <link href="{{ stylesheet | e }}" rel="stylesheet" />
{% endfor %}
</head>

<body class="bg-dark" data-page-id="{{ page_id }}">
{{ html | raw }}

{% for src in javascripts %}
<script type="text/javascript" src="{{ src | e }}"></script>
{% endfor %}

{% for script in scripts %}
<script>
{{ script | raw }}
</script>
{% endfor %}

</body>

